<style>
.details-events {

	background-color: #9bcc9b;
}

</style>

<div class="container marketing details-events">
    <div class="col-lg-12 boxed">
    <div class="row">

    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</div>
</div>

</div>